.center{
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card{
  width: 40%;
}

.direita{
  float: right;
  margin: 5px;
  margin-right: 0px;
}

.margem{
  margin: 10px;
}

.margem-salvar{
  margin-bottom: 40px;
  margin-top: 40px;
}

.size{
  font-size: 20px;
}
